.header
{
height: 320px;
width: 1310px;
margin-left: auto;
margin-right: auto;
background-color: goldenrod;
}
.h
{
height: 250px;
width: 1310px;
display: flex;
}
.logo
{
height: 250px;
width: 380px;
justify-content: center;
}
.title
{
    height: 250px;
    width: 930px;
    font-size: 56px;
    font-family: Copperplate Gothic;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
}
html {
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
.menu ul li
{
   display: inline-flex;
   text-decoration: none;
}
.clic
{
    padding: 8px 15px;
    border-radius: 20px;
    border-color:darkred;
    background-color:antiquewhite;
    color: darkred;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Copperplate Gothic;
    transition: all 0.5s ease;
    font-size: 18px;
}
.clic:hover
{
    letter-spacing: 3px;
    box-shadow: black 0px 7px 29px 0px;
    background-color: darkred;
    border-color: #ffffff;
    color: gold;
}
.clic:active
{
    letter-spacing: 3px;
    box-shadow: darkred 0px 7px 29px 0px;
    background-color: midnightblue;
    border-color: #ffffff;
    color: gold;
    transform: translateY(10px);
}
.menu 
{    
    border:8px solid;
    border-color: darkred;
    height: 70px;
    width: 1294px;
    text-align: center;
    word-spacing: 20px;
    text-transform: uppercase;
    background-image: url(image/alana-lee-portrait-photography-gold-painted-digital-background-example-2.webp);
}
.body
{
    height:1900px;
    width:1310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: midnightblue;
    background-image: url(image/Picsart.jpg);
    color:darkred;
    font-family: Copperplate Gothic;
    text-align: center;
}

/* Home Images */

.pic1 
{
    height: 300px;
    width: 1250px;
    margin: auto;
    margin-bottom: 40px;
    background-image: url(image/k-12807.jpg);
    border-radius: 40px;
}
.pic1 img
{
    float: left;
    margin: 30px;
    box-shadow: 3px 12px 20px 10px black;
    margin-left: 200px;
    border-radius: 40px;
}
.pic1 span
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 120px;
    right: 20px;
    text-shadow: 4px 7px 3px  black;
    font-size: 40px;
    color: white;
}
.pic1 h4
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 95px;
    right: 122px;
    font-size: 24px;
    text-shadow: 4px 7px 3px  black;
    color: white;
}

.pic2 
{
    height: 300px;
    width: 1250px;
    margin: auto;
    margin-bottom: 40px;
    background-image: url(image/il_fullxfull.2173089921_7vam.avif);
    border-radius: 40px;
}
.pic2 img
{
    float: left;
    margin: 30px;
    box-shadow: 3px 12px 20px 10px black;
    margin-left: 200px;
    border-radius: 40px;
}
.pic2 span
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 120px;
    right: 20px;
    text-shadow: 4px 7px 3px  black;
    font-size: 40px;
    color: white;
}
.pic2 h4
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 95px;
    right: 122px;
    font-size: 24px;
    text-shadow: 4px 7px 3px  black;
    color: white;
}

.pic3 
{
    height: 300px;
    width: 1250px;
    margin: auto;
    margin-bottom: 40px;
    background-image: url(image/silv.jpg);
    border-radius: 40px;
}
.pic3 img
{
    float: left;
    margin: 30px;
    box-shadow: 3px 12px 20px 10px black;
    margin-left: 200px;
    border-radius: 40px;
}
.pic3 span
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 120px;
    right: 20px;
    text-shadow: 4px 6px 2px black;
    font-size: 40px;
    color:snow;
    font-weight: bold;
}
.pic3 h4
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 95px;
    right: 116px;
    font-size: 24px;
    text-shadow: 4px 4px 2px black;
    color: snow;
}

.pic4 
{
    height: 300px;
    width: 1250px;
    margin: auto;
    margin-bottom: 40px;
    background-image: url(image/black.jpeg);
    border-radius: 40px;
}
.pic4 img
{
    float: left;
    margin: 30px;
    box-shadow: 3px 12px 20px 10px black;
    margin-left: 200px;
    border-radius: 40px;
}
.pic4 span
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 120px;
    right: 20px;
    text-shadow: 4px 7px 3px  black;
    font-size: 40px;
    color: white;
}
.pic4 h4
{
    text-align: center;
    background-image: transparent;
    position: relative;
    top: 95px;
    right: 102px;
    font-size: 24px;
    text-shadow: 4px 7px 3px  black;
    color: white;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.pic1,.pic2,.pic3,.pic4,.abt img,.abt span,.abt div,
.fin,.bod h1,.bod h2,.box1 p,.box1 div,.confirm span,
.confirm table
{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}


.fin
{
    position: relative;
    font-size: 26px;
    font-family: Copperplate Gothic;
    color: darkred;
    font-weight: bold;
    top:30px;
}
.foot
{
    height: 200px;
    width: 1294px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/alana-lee-portrait-photography-gold-painted-digital-background-example-2.webp);
    border: 8px solid;
    border-color: darkred;
    text-align: center;
}
.c
{
    font-size: 18px;
    font-family: Copperplate Gothic;
    color: darkred;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-top: 10px;
}
.ico
{
    font-size: 20px;
    font-family: Copperplate Gothic;
    color: darkred;
    font-weight: bold;
}
.bton1,.bton2,.bton3,.bton4
{
padding: 3px 6px;
border-radius: 20px;
border-color: darkred;
background-color: white;
transition: all 0.5s ease;
}
.bton1:hover,.bton2:hover,.bton3:hover,.bton4:hover
{
    box-shadow: darkred 0px 7px 29px 0px;
    background-color: none;
    border-color: #ffffff;
}
.bton1:active,.bton2:active,.bton3:active,.bton4:active
{
box-shadow: darkred 0px 7px 29px 0px;
background-color: none;
border-color: #ffffff;
transform: translateY(10px);
}
.abt
{
height: 650px;
width: 1310px;
margin-left: auto;
margin-right: auto;
font-family: Copperplate Gothic;
font-weight: bold;
color: darkred;
background-image: url(image/Picsart.jpg);
justify-content: space-evenly;
}

.bod
{
    height: 1250px; 
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-image: url(image/Picsart.jpg);
}
.bod h1
{
    margin:30px;
    font-size: 36px;
    color: darkred;
    font-family: Copperplate Gothic;
}
.bod h2
{
    margin:30px;
    font-size: 30px;
    color: darkred;
    text-align: center;
    font-family: Copperplate Gothic;
}
.box1
{
    height: 450px;
    width: 700px;
    padding:30px;
    background-image: url(image/alana-lee-portrait-photography-gold-painted-digital-background-example-2.webp);
    border: 6px solid darkred;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
}
.box1 p
{
    font-size: 26px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
    margin-top: 20px;
}
.box1 p input
{
    font-size: 24px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
    border: transparent;
    background: transparent;
    border-bottom: 3px solid darkred;
    outline: none;
}
.box1 p input:focus
{
    border: transparent;
    background: transparent;
    outline: none;
    border-bottom: 3px solid darkred;
}
.box1 p select
{
    font-size: 24px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 15px;
    padding:2px;
    background-color: darkred;
}

.i1
{
    height: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.i1 label
{
    font-size: 24px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
}
input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 28px;
    background: transparent;
    border: 2px solid darkred;
    color: darkred;
}
input[type="checkbox"]:after
{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    color: goldenrod;
    height: 20px;
    width: 20px;
    background-color: darkred;
    font-size: 17px;
    text-align: center;
    border:2px solid goldenrod;
    box-shadow: 0px 4px 14px 1px darkred;
    font-weight: 900;
    padding-top: 2px;
    display:none;
}
input[type="checkbox"]:checked::after
{
    display: block;
}
.box1 button
{
    padding: 8px 14px;
    display: inline;
    font-size: 20px;
    margin-top: 17px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    border-radius: 40px;
    border-color: darkred;
    background-color: antiquewhite;
    color: darkred;
    transition: all 0.5s ease;
    box-shadow: black 0px 8px 29px 0px;
}
.box1 button:hover
{
    padding: 8px 14px;
    display: inline;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 40px;
    border-color: white;
    background-color: darkred;
    color: gold;
}
.box1 button:active
{
    transform: translateY(10px);
    letter-spacing: 3px;
    padding: 8px 14px;
    display: inline;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    border-radius: 40px;
    border-color: white;
    background-color: midnightblue;
    color: gold;
}
.confirm
{
    height: 460px;
    width: 1250px;
    background-image: url(image/alana-lee-portrait-photography-gold-painted-digital-background-example-2.webp);
    text-align: center;
    margin:auto;
    padding: auto;
    margin-top: 50px;
}
.confirm span
{
    position: relative;
    top: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 32px;
    background-color: antiquewhite;
    box-shadow: black 0px 7px 22px 0px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
}
.confirm table,tr,th,td
{
    margin: 90px auto;
    padding: 16px 26px;
    border-collapse: collapse;
    border: 6px solid goldenrod;
    box-shadow: black 0px 11px 16px 0px;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
    background-color: antiquewhite;
}
table td
{
    font-size: 18px; 
    font-weight: none;
}
table th
{
    background-color: darkred;
    color: gold;
}
.popup
{
    height: 4525px;
    width: 1310px;
    background-color: black;
    position: absolute;
    top:1px;
    opacity: 0.8;
    align-content: center;
    display: none;
    transition: all 0.5s ease;
}
.cont
{
    height: 370px;
    width: 600px;
    background-color: antiquewhite;
    position: absolute;
    top: 3150px;
    left: 370px;
    border: 6px solid darkred;
    border-radius: 30px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    color: darkred;
    transition: all 0.5s ease;
    text-align: center;
    display: none;
}
icon[class="fa-solid fa-check"]
{
    margin-top: 30px;
    font-size: 38px;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    background-color: limegreen;
    border-radius: 100%;
    padding: 6px 12px;
}
.cont button
{
    padding: 6px 12px;
    display: inline;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    border-radius: 40px;
    border-color: darkred;
    background-color: antiquewhite;
    color: darkred;
    transition: all 0.5s ease;
    box-shadow: black 0px px 20px 0px;
}
.cont button:hover
{
    padding: 6px 12px;
    display: inline;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 40px;
    border-color: white;
    background-color: darkred;
    color: gold;
}
.cont button:active
{
    transform: translateY(10px);
    letter-spacing: 3px;
    padding: 6px 12px;
    display: inline;
    font-size: 20px;
    font-family: Copperplate Gothic;
    font-weight: bold;
    border-radius: 40px;
    border-color: white;
    background-color: midnightblue;
    color: gold;
}